.vscode
*.dSYM/
*.dot
*.asm
*.o
bptree_test
benchmark/*.log
benchmark/bench_client
benchmark/bin/*
datasets/
**/*.pyc
**/__pycache__/
**/bin/
gmon.out
**/*.log
**/*.ipynb
**/.ipynb_checkpoints/
benchmark/generation/